
/* MAIN */

.main{
    min-height: 600px;
}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.slide__image {
    min-width: 600px;
    max-height: 800px;
}

.embla__prev, 
.embla__next {
    margin: 0 20px 20px 0;
    width: 40px;
    height: 40px;
    color: #333333;
    background-color: rgb(221, 221, 221, 0.4);
    border: none;
}