
/* HEADER */

.header {
    min-height: 100px;
    backdrop-filter: brightness(15%);
    margin: 0;
    text-align: right;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
}

.logo {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
}

.navigation__item {
    text-transform: uppercase;
}

.navbar__link {
    text-decoration: none;
    color: #c0c0c0;
}

.navbar__link:hover {
    color: #FFFFFF;
} 

.registration-btn {
    color: #c0c0c0;
    background: transparent;
    border: none;
    border-radius: 5px;
    margin: 15px 55px 5px 0;
    padding: 3px;
}

.registration-btn:hover {
    background-color: #802580;
}

.regFormButton {
    text-decoration: none;
    color: red;
}

.cart {
    position:relative;
}

.count {
    color: #802580;
    display: flex;
    position: absolute;
    right: -20px;
    top: -3px;
    width: 20px;
    height: 20px;
    font-size: 16px;
}

/* MEDIA */

@media (max-width: 900px) {
    .logo {
        font-size: 35px;
    }

    .navigation__list {
        font-size: 16px;
    }
}

@media (max-width: 650px) {
    .logo {
        font-size: 25px;
        order: -1;
        margin-bottom: 15px;
    }

    .navigation__list {
        flex-direction: column;
        align-items: flex-start;
    } 

    .navigation__item {
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    .log-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
