

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #FFFFFF;
    height: 100vh;
}

.wrapper {
    margin: 0 auto;
    max-width: 80%;
}

.wrapper {
    margin: 0 auto;
    max-width: 80%;
}


.dark {
    transition: background-color 0.3s ease;
    background-color: #252526;
    color: #FFFFFF;
}
